
/** 等级 类 */
.level{
    display: inline-block;
        width: 19px;
        height: 9px;
        padding: 1px 0;
        vertical-align: middle;
        margin-left: 8px;
}
.level-6 {
    background-image: url('./assets/icons/icons-comment.png');
    background-repeat: no-repeat;
    background-position: -23px -410px;
}
.level-5 {
    background-image: url('./assets/icons/icons-comment.png');
    background-repeat: no-repeat;
    background-position: -23px -346px;
}
.level-4 {
    background-image: url('./assets/icons/icons-comment.png');
    background-repeat: no-repeat;
    background-position: -23px -282px;
}
.level-3 {
    background-image: url('./assets/icons/icons-comment.png');
    background-repeat: no-repeat;
    background-position: -23px -218px;
}
.level-2 {
    background-image: url('./assets/icons/icons-comment.png');
    background-repeat: no-repeat;
    background-position: -23px -154px;
}
.level-1 {
    background-image: url('./assets/icons/icons-comment.png');
    background-repeat: no-repeat;
    background-position: -23px -90px;
}
.level-0 {
    background-image: url('./assets/icons/icons-comment.png');
    background-repeat: no-repeat;
    background-position: -23px -26px;
}